
:root { /*declaração de variáveis dentro do css*/
    --vermelho:#E50914;
    --preto:#141414;
    --cinza:#AAA;
    
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para os elementos em tela terem exatamente o tamanho que definimos*/
    
}

/*elementos base*/

body {
    background: var(--preto);
    font-family: 'Arial', Times, Serif ;
    color:white;
    
}

header .container {
    display: flex; /*alinhar elementos em tela*/
    flex-direction: row;
    align-items: center; /*alinhar elementos ao centro*/
    justify-content: space-between; /*espaço entre as tags com space between*/
    
}

header .logo {
    margin-left: 5px;
    color:var(--vermelho);
    font-family: 'Arial Black',Times;
    font-size: 40px; 
    
}

header nav a {
    text-decoration: none; /*remover grifado dos links*/
    color:var(--cinza);
    margin-right: 10px; /*separar uma palavra da outra pela margem*/
    
}

header nav a:hover {
    color:#fff;
    
}

/*filme principal*/
.filme-principal {
    font-size: 16px;
    /* linear-gradient(rgba(122, 63, 63, 0.5),rgba(122, 63, 63, 0.5)100%)  usado para dar um gradiente de cores diferentes no fundo do background*/
    background: linear-gradient(rgba(122, 63, 63, 0.5),rgba(122, 63, 63, 0.5)100%) ,url('/images/lucifer-background.jpg');

    height: 400px; /*tamanho da imagem*/
    background-size: cover; /*para o tamanho da imagem se adequar a tela*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /*elementos sempre a esquerda*/
    
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    
}

.filme-principal .titulo {
    margin-top: 15%; 
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none; 
    color:white;

    padding: 15px 30px; /*lida com o espaço interno dos nosso elementos*/
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all; /*ele cuida da parte de uma transação p/ outra*/
}

.botao:hover {
    background-color: white;
    color:black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    /*nesse caso as alterações não afetarão todos os 2 containers*/
    width: 70%;
}

.box-series {
    height: 80%;
    width: 100%;
    display: block;
}

.carrosel-series {
    margin-top: 4px;
}
